[submodule "lib/euler-vault-kit"]
	path = lib/euler-vault-kit
	url = https://github.com/euler-xyz/euler-vault-kit.git
[submodule "lib/ethereum-vault-connector"]
	path = lib/ethereum-vault-connector
	url = https://github.com/euler-xyz/ethereum-vault-connector.git
[submodule "lib/evk-periphery"]
	path = lib/evk-periphery
	url = https://github.com/euler-xyz/evk-periphery.git
[submodule "lib/euler-earn"]
	path = lib/euler-earn
	url = https://github.com/euler-xyz/euler-earn.git
[submodule "lib/euler-price-oracle"]
	path = lib/euler-price-oracle
	url = https://github.com/euler-xyz/euler-price-oracle.git
[submodule "lib/euler-swap"]
	path = lib/euler-swap
	url = https://github.com/euler-xyz/euler-swap.git
